@font-face {
  font-family: "Midashi";
  src: url("../font/Midashi.otf");
}
/*box-sizing :border-box*/
body {
  width: 1600px;
  color: #b2b2b2;
  font-family: "Midashi";
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto;
}
.logo {
  padding: 50px 50px 48px;
  float: left;
}
.gnav {
  float: left;
  text-decoration: none;
  padding: 40px 0 5px;
}
.gnav a{
  padding: 10px;
}
.nav li {
  float: left;
  text-decoration: none;
}
.ft-left {
  float: left;
}
.ft-right {
  float: right;
}
.list {
  padding: 53px 45px 49px;
}
.lista {
padding: 53px 26px 50px;
}
.listb {
  padding: 52px 37px 50px;
}
.listc {
  padding: 53px 14px 51px;
}
.listd {
  padding: 10px;
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
.btn {
  background-color: #c01920;
  text-decoration: none;
  color: #ffffff;
}
.ft {
  float: right;
  padding: 17px 17px;
  margin: 36px 52px 1px;;
}
.b {
  padding: 14px 18px;
  margin: 30px 29px;
  display: inline-block;
}
.nav li a{
  text-decoration: none;
}
.main-vs {
  background-image:url("../img/img_visual.png");
 padding: 52px 0px 219px;
}

.main-tit {
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  padding: 30px 159px;
}
.main-para{
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  padding: 4px;
}

.vis-tit {
  font-size: 42px;
  font-weight: 200;
  color: #000000;
  padding: 35px 0px;
  position: relative;
}

span {
  color: #000000;
  border-bottom: 1px solid #c01920;
}
.red {
  color: #cd5358;
}
.inner {
  margin: 0 auto;
  width: 960px;
  margin-top: 14px;
}

.vis-tit::after {
  position: absolute;
  top: 78%;
  right: -42px;
  width: 90%;
  height: 1px;
  background-color: #cccccc;
  content: '';
  transform: translateY(-50%);
}

.mobile {
  background-image: url(../img/img_mobile.png);
}
.para {
  color: #000000;
  font-size: 12px;
  padding: 29px 30px;
 line-height: 21px;
}

.tit {
  padding: 33px 32px;
    margin: 17px -30px;
}
.lft-img {
  margin: -29px 6px 24px 0px;
}

.rgh-img {
  margin:-26px -5px 27px;
}
h3 {
  font-size: 24px;
  color: #000000;
}
.ser_img2 {
  margin: -4px -12px;
}
.ser-pa1 {
  margin: -3px 0px;
  padding: 30px 0px;
  font-size: 12px;
  line-height: 21px;
  color: #101010;
}
.ser-pa2 {
  margin: 28px -11px;
  font-size: 12px;
  line-height: 21px;
  color: #101010;
}
