@charset "UTF-8";

@font-face {
  font-family: "Hira";
  src: url("/font/Hira.otf")
}

/*box-sizing: border-box;*/
body {
  font-family: "Hira";
  font-weight: normal;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.inner {
  width: 940px;
  margin: 0 auto;
}

.section1 {
  background-color: #1976d2;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

header .cmn-btn {
  float: right;
}

.cmn-btn a:hover {
  opacity: 0.5;
}

h1 {
  float: left;
  margin-top: 8px;
}

.gnav {
  float: left;
  padding: 29px 0px 0 46px;
  width: 563px;
}

.gnav ul li {
  float: left;
  margin-right: 40px;
  margin-bottom: 13px;
}


.gnav ul li a {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 2px;
  word-spacing: 2px;
  position: relative;
}

.gnav ul li a::before {
  position: absolute;
  background: url(../img/img_icom.png)no-repeat center/contain;
  right: 22px;
  content: '';
  width: 12px;
  height: 12px;
  left: -16px;
}

.gnav ul li a:hover {
  opacity: 0.5;
}

.gnav li:nth-child(3n) {
  margin-right: 0;
}

.gnav li:nth-child(2n) {
  margin-right: 25px;
}

.cmn-btn a {
  font-size: 16px;
  color: #ffffff;
  background-color: #f57b00;
  text-decoration: none;
}

header .cmn-btn a {
  padding: 22px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

.main-vs {
  background: url(../img/img_mainvs.png)no-repeat center/cover;
  padding: 71px 0 492px;
}

.main-vs h2 {
  text-align: center;
  font-size: 37px;
  color: #fff;
}

.main-vs p {
  text-align: center;
  font-size: 49px;
  padding: 16px 0;
  color: #fff;
}

.main-vs span {
  font-size: 119px;
}
.main-vs .cmn-btn {
  text-align: center;
  margin-top: 26px;
}
.main-vs .cmn-btn a{
  padding: 18px 101px 11px;
  font-size: 24px;
}